{% extends 'base.html' %}

{% block body %}
  <h1>Hi all, there is a list of all series</h1>
  <div> Чтобы добавить автора нажмите   <a href="{% url 'bookshop:create_series' %}">Add series</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>Series Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.series_name }}</td>
          <td>{{ object.series_description }}</td>
          <td>
            <a href="{% url 'bookshop:update_series' pk=object.pk %}">Edit</a>
            <a href="{% url 'bookshop:delete_series' pk=object.pk %}">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}