{% extends 'base.html' %}
{% block TITLE %}Order details{% endblock TITLE %}
{% block HEAD %}
<style>
  #knigi{
    background-color: grey;
    color: white;
    border: 0;
  }
  #knigi:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  #series{
    background-color: grey;
    color: white;
    border: 0;
  }
  #series:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  #genres{
    background-color: grey;
    color: white;
    border: 0;
  }
  #genres:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  #autors{
    background-color: grey;
    color: white;
    border: 0;
  }
  #autors:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
  #zakaz{
    background-color: grey;
    color: white;
    border: 0;
  }
  #zakaz:hover{
    background-color: darkgrey;
    color: white;
    border: 0;
  }
</style>
<!--  background-color: grey; -->
{% endblock HEAD %}
{% block BODY %}
  {% block content %}
  {% include "book-shop/book/includes/nav_bar.html" %}
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
    <div>
      <div style="text-align: left;">
        <!-- Заказ №* -->
        <div>
          <h2 style="margin-top: 3%; font-size: 28px; font-weight: bold;">Заказ №{{ order.id }}</h2>
        </div>
        <!-- Customer -->
        <div>
          {% if user.is_superuser %}
            <p style="font-size:14px; margin-top: -0.5%;">Покупатель: {{ order.user.username }}</p>
          {% endif %}
        </div>
        <!-- Created -->
        <div>
          <p style="font-size:18px; margin-top: -0.5%;">Оформлен: {{ order.created_at }}</p>
        </div>
        <!-- Status -->
        {% if user.is_superuser %}
          <div  class="col" style=" border-bottom: 1px solid black; padding-bottom: 2%; width: 102%;">
            <form method="post">
              {% csrf_token %}  
              <div class="row" style="align-items: center;;">
                <div class="col-3">
                  <select name="status" class="btn btn-outline-dark dropdown-toggle" style="border: 1px solid; ">
                    {% for status in status_list %}
                      <option value="{{ status.0 }}">{{ status.1 }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-1">
                  <input type="submit" class="btn btn-outline-dark" value="Изменить статус" style="margin-left: -100%;"/>
                </div>
              </div>
            </form>
            <p style="font-size:18px; margin-top: 2%; margin-bottom: -1%;">Статус заказа: {{ order.status }}
              <span style="margin-left: 48%; font-size: 20px;
              font-style: normal;
              font-weight: 400;">{{ order.get_total_count_in_order }} товаров</span>
              <span style="margin-left: 16%;font-size: 20px;
              font-style: normal;
              font-weight: 700; color: seagreen;">{{ order.total_price }} BYN</span>
            </p>
          </div>
        {% else %}
          <div class="col" style=" border-bottom: 1px solid black; width: 100%;">
            <p>
              {% if order.status == 'В обработке' %}
                <span class="btn btn-outline-primary" 
                style="font-size:18px; text-align: left; max-width: 40%; margin-top: 2%; pointer-events: none; background: #E4E4E4;
                  padding: 0.7% 1.2% 0.7% 1.2%; border-color: #E4E4E4; color: black; border-radius: 16px;">{{ order.status }}
                  <ion-icon name="reload-outline"></ion-icon><br>
                  Ваш заказ обрабатывается

              {% elif order.status == 'Выполняется' %}
                <span class="btn btn-outline-primary" 
                style="font-size:18px; text-align: left; max-width: 40%; margin-top: 2%; pointer-events: none; background-color: #FDF7BC; 
                padding: 0.7% 1.2% 0.7% 1.2%; border-color: #FDF7BC; color: black; border-radius: 16px;">
                {{ order.status }}<ion-icon name="car-outline"></ion-icon><br>
                Ваш заказ уже в пути
              {% elif order.status == 'Доставлено' %}   
                <span class="btn btn-outline-primary" 
                style="font-size:18px; text-align: left; max-width: 40%; margin-top: 2%; pointer-events: none; background-color: #C0E9C2; 
                padding: 0.7% 1.2% 0.7% 1.2%; border-color: #C0E9C2; color: black; border-radius: 16px;">
                {{ order.status }}<ion-icon name="chevron-down-circle-outline"></ion-icon><br>
                Заказ доставлен. Оставьте, пожалуйста, свой отзыв на сайте
              {% elif order.status == 'Отменен' %}
                <span class="btn btn-outline-primary" 
                style="font-size:18px; text-align: left; max-width: 40%; margin-top: 2%; pointer-events: none; background-color: #FFC3C3; 
                padding: 0.7% 1.2% 0.7% 1.2%; border-color: #FFC3C3; color: black; border-radius: 16px;">
                {{ order.status }}<ion-icon name="close-outline"></ion-icon><br>
                Ваш заказ не активен
              {% endif %}
              </span>
              <span style=" font-size: 20px; position: absolute; top: 42%; right: 20.6%;
                font-style: normal;
                font-weight: 400;">{{ order.get_total_count_in_order }} товаров
                </span>
                <span style="font-size: 20px; position: absolute; top: 42%; right: 7.8%;
                font-style: normal;
                font-weight: 700; color: seagreen;">{{ order.total_price }} BYN
                </span>
            </p>
          </div>
        {% endif %}
        <!-- Count all books + total price -->
        
      </div>

      <!-- Order -->
      {% for book_in_order in order.books.all %}
      <div>
        <div style="margin-bottom: 1%; margin-top: 2%;">
          <div class="row">
            <!-- IMG BOOK -->
            <div class="col" style="text-align: left; margin-left: 3%;">
              <a href="{% url 'directories:view-book' pk=book_in_order.book.pk %}">
                <img src="{{ book_in_order.book.book_picture_medium }}" alt="Generic placeholder image" style="height: 80px;">
              </a>
            </div>

            <div class="col"></div>

            <div class="col" style="text-align: left; border-bottom: 1px solid #dee2e6; margin-left: -22%;">
              <!-- BOOK NAME -->
              <p style="font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;">
                {{ book_in_order.book.book_name }}
              </p>
              <!-- AUTOR NAME -->
              <p style="font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal; color: grey; margin-top: -5%;">
                {{ book_in_order.book.autor }}
              </p>
              <!-- PRICE -->
              <p style=" font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 0.72px; color: grey; margin-top: 13%;">{{ book_in_order.book.book_price }} BYN</p>
            </div>

            
            <div class="col" style="text-align: right; border-bottom: 1px solid #dee2e6;"></div>
            <div class="col" style="text-align: right; border-bottom: 1px solid #dee2e6;"></div>
            <div class="col" style="text-align: right; border-bottom: 1px solid #dee2e6;"></div>
            <!-- КОЛИЧЕСТВО -->
            <div class="col" style="text-align: right; border-bottom: 1px solid #dee2e6; color: grey;font-size: 20px;
            font-style: normal;
            font-weight: 400;">
              <p>{{ book_in_order.count }} шт.</p>
            </div>

            <div class="col" style="text-align: right; border-bottom: 1px solid #dee2e6; padding-bottom: 3%;">

                <!-- ОБЩАЯ ЦЕНА ЗА КНИГУ -->
                <div style="margin-top: 0%; margin-left: -15%;">
                      <p style="color: black; font-size: 20px; font-style: normal; font-weight: 700; line-height: normal; letter-spacing: 0.72px;">
                        {{ book_in_order.get_total_price_in_order }} BYN
                      </p>
                </div>

            </div>

          </div>
        </div>

      </div>
      {% endfor %}
      <!-- if status "В обработке" -->
      {% if not user.is_superuser %}
        {% if order.status == "В обработке" %}
        <div class="col" style=" border-top: 1px solid black; padding-top: 2%; margin-top: -1%; width: 102%;">
          <button type="button" class="btn btn-primary btn-lg" 
            style="background-color: white; border-color: white; border-radius: 16px; width: 20%; margin-left: 78%; color: grey;" 
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            отменить заказ <ion-icon name="close-outline" style=" font-size: 24px; margin-bottom: -7px;"></ion-icon>
          </button> 
        </div> 
        {% endif %}
      {%else%}
        <div class="col" style=" border-top: 1px solid black; padding-top: 2%; margin-top: -1%; width: 102%; text-align:left;">
          {% if order.description == '' %}
          {% else %}
            Discription: {{ order.description }}
          {% endif %}
        </div>
      {% endif %}

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" style="margin-top: 30%;">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel" style="color: #212529;">Отмена заказа №{{ order.id }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div>
                Для отмены заказа свяжитесь с администрацией сайта
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Вернуться</button>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock BODY %}